name: Deploy Static Website to S3

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::680318115068:role/GitHubActionAccess
          aws-region: ap-south-1

      - name: Deploy files to S3
        run: |
          aws s3 sync . s3://mystorebuc\
            --delete \
            --exclude ".git/*" \
            --exclude ".github/*"


      - name: Invalidate CloudFront cache
        run: |
          aws cloudfront create-invalidation \
            --distribution-id E20IIM60R7YBJH \
            --paths "/*"

